*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, 
body, 
h2, 
p {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  min-height: 100vh;
  background-color: #e5eeee;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  padding: 50px 70px;
  position: relative;
  max-width: 400px;
  background-image: url(../img/bg-form.jpg);
  background-size: cover;
  box-shadow: 0 25px 23px -6px rgba(36, 34, 34, 0.9);
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
}

.nav-item {
  position: relative;
}

.nav-item:not(:last-child) {
  margin-right: 24px;
}

.nav-item::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: transparent;
  transition: background-color .3s ease;
}

.nav-item:hover::after {
  background-color: #e66a64;
}

.nav-link {
  font-size: 18px;
  font-weight: 700;
  color: #e1c2f1;
  text-decoration: none;
  letter-spacing: .03em;
}

.nav-link:hover {
  color: #fbf6e4;
}

.nav-link:active {
  position: relative;
  color: #fbf6e4;
}

.tabs-container {
  padding-top: 54px;
}

.tabs-content:not(:target) {
  display: none;
}

.form-controls {
  padding-bottom: 2px;
}

.form-label {
  font-size: 16px;
  font-weight: 700;
  color: #fbf6e4;
  letter-spacing: .02em;
  cursor: pointer;
}

label.checkbox {
  display: flex;
  align-items: center;
  font-size: 14px;
  letter-spacing: .03em;
}

.form-input {
  margin: 7px 0 0;
  padding: 10px;
  width: 100%;
  background: none;
  outline: none;
  border: 2px solid rgba(191, 185, 204, 0.54);
  color: white;
}

.form-input:focus {
  border-color: #23ae92;
}

.form-error {
  visibility: hidden;
  font-size: 12px;
  color: red;
}

.form-input:invalid + .form-error {
  visibility: visible;
}

.form-controls .checkbox {
  padding: 5px 0;
}

input.checkbox {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

input.checkbox:checked + .form-label .form-checkbox {
  font-size: 12px;
}

input.checkbox:focus + .form-label .form-checkbox {
  border: 2px solid #e66a64;
}

.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 7px;
  border: 2px solid #23ae92;
  background-color: #23ae92;
  font-size: 0;
  transition: font-size .3s ease;
}

.submit {
  padding-top: 10px;
}

.form-btn {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  outline: none;
  border: 2px solid #23ae92;
  background-color: #23ae92;
  color: #fbf6e4;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.form-btn:focus {
  border: 2px solid #e66a64;
}

.form-btn:hover {
  background-color: #e66a64;
}

.form-bottom-actions {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 10px;
}

.form-bottom-actions:hover .form-link:not(:hover):after {
  opacity: 0;
  transform: translateY(10px);
}

.form-link {
  position: relative;
  color: #b9b9cc;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: .05em;
}

.form-link:after {
  display: block;
  content: '';
  position: absolute;
  bottom: -5px;
  height: 1px;
  width: 100%;
  background-color: #b9b9cc;
  transition: ease .3s;
  transition-property: transform, opacity;
}